DB_USER={DB_USER}
DB_PASSWORD={DB_PASSWORD}
DB_HOST={DB_HOST}
DB_PORT={DB_PORT}
DB_NAME={DB_NAME}

DB_SLAVE1_USER={DB_SLAVE1_USER}
DB_SLAVE1_PASSWORD={DB_SLAVE1_PASSWORD}
DB_SLAVE1_HOST={DB_SLAVE1_HOST}
DB_SLAVE1_PORT={DB_SLAVE1_PORT}
DB_SLAVE1_NAME={DB_SLAVE1_NAME}

REDIS_HOST={REDIS_HOST}
REDIS_PORT={REDIS_PORT}
REDIS_DBNO={REDIS_DBNO}
REDIS_XORM_CACHE_KEY=development

REDIS_CLUSTER_HOST={your_redis_cluster_host}
REDIS_CLUSTER_PORT={your_redis_cluster_port}

HTTP_PORT={HTTP_PORT}
JWT_SALT={JWT_SALT}
ENVIRONMENT={ENVIRONMENT}

GIN_MODE=debug
LOG_DEBUG={ on | off }
XORM_MODE=debug

# redis endpoint (Dev 以上專用)
REDIS_CLUSTER_CONFIGURATION_POINT={redis_cluster_configuration_point}

# redis cluster conn (3 master, 1 slave per master)
# localhost use only
REDIS_CLUSTER_0=127.0.0.1:7000
REDIS_CLUSTER_1=127.0.0.1:7001
REDIS_CLUSTER_2=127.0.0.1:7002
REDIS_CLUSTER_3=127.0.0.1:7003
REDIS_CLUSTER_4=127.0.0.1:7004
REDIS_CLUSTER_5=127.0.0.1:7005
